<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <meta charset="utf-8">
    <title>Emdeddy</title>
  </head>
  <body style="height:100%;">

    <!-- Navbar -->

    <div id="container" style="width: 100%; height: 100%;">
      <iframe frameborder="0" scrolling="no" style=" width: 50%; height: 50%; overflow: hidden;" src="/embed?svgUrl=https://raw.githubusercontent.com/FRMA-Ontology/diagrams/master/concept-maps/oe_12/svg/OE_X_HairOntology-full.svg"></iframe>

      <embed frameborder="0" scrolling="no" style="border:1px solid black; width: 50%; height: 50%; overflow: hidden;" src="/embed?svgUrl=https://raw.githubusercontent.com/FRMA-Ontology/diagrams/master/concept-maps/oe_12/svg/OE_X_HairOntology-full.svg"></embed>

      <!-- <img src="http://localhost:3000/src?svgUrl=https://raw.githubusercontent.com/FRMA-Ontology/diagrams/master/concept-maps/oe_12/svg/OE_X_HairOntology-full.svg"> -->
    </div>

  </body>
</html>
